.row{

@mixin atMedium{

    &-t-padding{
        padding-top:80px;
    }
    &__medium-4{
        float:left;
        width: 33.3%;
    }

    &--gutter-small{
        margin-right:-45px;
    }
    
    &__medium-4--larger{
        width:50%;
    }

    &__medium-6{
        float:left;
        width:50%;
    }
    
    &__medium-8{
        float:left;
        width:66.6%;
    }
    &__medium-8--smaller{
        width:50%;
    }
    
}
&--equal-height{
    @mixin atMedium{
        display:flex;
    }
    & > div{
        float:none;
        display:flex;
    }
}

    
}