.section-title{
    font-size: 3.15rem;
    font-weight: 300;
    text-align:center;

    strong{
        font-weight:500;
    }

    &--blue{
        color:$mainBlue;
     }

    &--less-margin{
      margin-bottom: 1.3rem;
      margin-top: 0; 
    } 


    &__icon{
        margin-right:0.5rem;
    }

    @mixin atSmall{
        position: relative;
        top:8px;
    }

    
}